<%= form_for(@leave_application) do |f| %>
  <% if @leave_application.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@leave_application.errors.count, "error") %> prohibited this leave_application from being saved:</h2>

      <ul>
      <% @leave_application.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :start_date %><br>
    <%= f.datetime_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br>
    <%= f.datetime_select :end_date %>
  </div>
  <div class="field">
    <%= f.label :leave_type %><br>
    <%= f.number_field :leave_type %>
  </div>
  <div class="field">
    <%= f.label :session_name %><br>
    <%= f.number_field :session_name %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.check_box :status %>
  </div>
  <div class="field">
    <%= f.label :reason %><br>
    <%= f.text_field :reason %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
