<%= form_for(@leave_application) do |f| %>
  <% if @leave_application.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@leave_application.errors.count, "error") %> prohibited this leave_application from being saved:</h2>

      <ul>
      <% @leave_application.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :start_date %><br>
    <%= f.date_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br>
    <%= f.date_select :end_date %>
  </div>
  <div class="field">
    <%= f.label :leave_type %><br>
    <select  name="leave_application[leave_type]" class="form-control">
      <option value="1">Full Day</option>
      <option value="2">Half Day</option>
    </select>
  </div>
  <div class="field">
    <%= f.label :session_name %><br>
    <select  name="leave_application[session_name]" class="form-control">
      <option value="">-Select-</option>
      <option value="1">Forenoon</option>
      <option value="2">Afternoon</option>
    </select>
  </div>
  <div class="field">
    <%= f.label :reason %><br>
    <%= f.text_field :reason %>
  </div>
  <% if current_user.role_id == 1%>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.check_box :status %>
  </div>
  <% end %>
  <div class="actions">
  <%= f.hidden_field :user_id, :value => current_user.id%>
    <%= f.submit %>
  </div>
<% end %>
