<p id="notice"><%= notice %></p>

<p>
  <strong>Start date:</strong>
  <%= @leave_application.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @leave_application.end_date %>
</p>

<p>
  <strong>Leave type:</strong>
  <%= @leave_application.leave_type %>
</p>

<p>
  <strong>Session name:</strong>
  <%= @leave_application.session_name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @leave_application.status %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @leave_application.reason %>
</p>

<%= link_to 'Edit', edit_leave_application_path(@leave_application) %> |
<%= link_to 'Back', leave_applications_path %>
